@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

.banner {
}

.banner .banner__image {
    width: 100%;
    min-width: 1350px;
}

.banner .banner_text_container {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}

.banner .banner__title {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;

    text-align: center;
    text-decoration: underline;
    color: white;

}

.banner .banner__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 2px;

    color: white;

    margin-top: 30px

}

.banner .banner__go-bottom-image {
    margin-top: 40px;
}