
.copyright {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copyright .copyright__text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: white;

}