@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.featured-content {
    background-color: #f6f6f6;
    text-align: center;
}

.featured-content__item {
    text-align: center;
    padding-right: 0;
    display: inline-block;
    float: none;
    padding-top: 60px;
    padding-bottom: 60px;

    border-right: solid #d5d5d5 1px;
}

.featured-content__item:last-of-type {
    border-right: none;
}

.featured-content__item .featured-content__item__pic-container {
    width: 100%;
}

.featured-content__item .featured-content__item__title{

    margin-top: 40px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #637f83;
    width: 100%;
}
.featured-content__item .featured-content__item__text{

    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 14px;

    line-height: 1.5;

    color: #b2b1b1;
    width: 100%;
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}
.featured-content__item .featured-content__button {
    border-radius: 7px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    background: #637f83;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.featured-content__item .featured-content__button-container {
    margin-top:50px
}