@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
.main-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-title__header {

    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #637f83;

}

.main-title__text {

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #637f83;

    padding-top: 20px;

}