@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.navigation-panel {
    font-family: "Source Sans Pro", sans-serif;
}

.navigation-panel .navigation-panel__element {
    font-weight: bold;
    width: 16%;
    float: left;
    font-size: 16px;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #637f83;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation-panel .navigation-panel__element--active {
    color: #e4551d;
}