/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
}

.navigation-panel {
    font-family: "Source Sans Pro", sans-serif;
}

.navigation-panel .navigation-panel__element {
    font-weight: bold;
    width: 16%;
    float: left;
    padding-top: 20px;
    padding-bottom: 25px;

}
.navigation-panel .navigation-panel__element a {
    font-size: 16px;
    text-transform: uppercase;
    color: #637f83;
    text-decoration: none;

}

.navigation-panel .navigation-panel__element--active {
    color: #e4551d;
}