@font-face {
    font-family: 'awesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/fontawesome-webfont.woff') format('woff');
}
.slider__navigation-container .slider__navigation {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.slider__navigation-container .slider__navigation::before {
    overflow: hidden;
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.slider__navigation__btn-container {
    background: white;
    padding-left: 15px;
    padding-right: 15px
}

.slider__navigation-container .slider__navigation .slider__navigation__btn {
    font-family: awesome;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(228, 85, 29);
    display: inline-block;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    margin-right: 2px;
    text-rendering: auto;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 24px;

}

.slider__navigation-container .slider__navigation .slider__navigation__btn-left::after {
    content: "\f0a8";
}

.slider__navigation-container .slider__navigation .slider__navigation__btn-right::after {
    content: "\f0a9";
}
.slider {
    display: inline-block;
    float: none;
    position:relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider__image {
    width: 100%;
}

.slider_container {
    padding-bottom: 50px;
}
