.social {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-item {
    display: inline-block;
    float: none;
    vertical-align: middle;
    text-align: left;
}

.social-item .social__item-description__header {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #637f83;
    line-height: 2.5;
}

.social-item .social__item-description__text{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: #637f83;
    /*line-height: 1.5;*/
}

.social .social__item-image {
    float: left;
    padding-right: 20px;
}